@import "./header.css";
@import "./footer.css";

*{
  box-sizing: border-box;
}
 
body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}


div.question_block{
  width: 1080px;
  height: 480px;
  margin: 30px auto 60px;
  background: rgba(238, 238, 238, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

div.question_container{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 900px;
}

div.leftside{
  width: 500px;
  letter-spacing: 0.1em;
  padding-left: 1em;
}

div.question_title{
  font-size: 28px;
  font-weight: 700;
  padding: 1em 0;
}

div.question_text{
  line-height: 190%;
  padding-bottom: 20px;
  font-size: 16px;
}

button.btn_next{
  border: none;
  background: #2869D1;
  border-radius: 6px;
  color: white;
  padding: 6px 18px;
  margin-top: 10px;
}

button.btn_next:hover{
  box-shadow: 1px 2px 2px 0px #00000040;
}

button.btn_next:focus{
  border: none;
  outline: none;
}

button.btn_next:active{
  border: none;
  outline: none;
}

a.next_page{
  text-decoration: none;
  background: none;
  color: white;
  letter-spacing: 0.04em;
}

div.rightside{
  width: 450px;
}

img.question{
  width: 100%;
}