@import "./header.css";
@import "./footer.css";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.04em;
  /* overflow: hidden; */
  overflow-y: scroll;
}
img, embed{
  max-width: 100%;
}
  

/*====== 互動對話框 ======*/

div.dialog_container{
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 120px auto 0px;
  height: 450px;
}
div.left_dialog_container{
  width: 100%;
  max-width: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  color: white;
  position: relative;
  z-index: 1;
}
div.left_dialog_container::after{
  content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: #2869D1;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -30px;
}
div.right_dialog_container{
  width: 100%;
  max-width: 1080px;
  position: absolute;
  right: 0;
  top: 25%;
  display: flex;
  justify-content: flex-end;
  color: white;
  z-index: 0;
}
div.right_dialog_container::after{
  content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: #F24D2E;
  transform: rotate(90deg);
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -30px;
}
div.left_dialog{
  background-color: #2869D1;
  width: 49%;
  height: 200px;
  border-radius: 20px 20px 20px 0;
  padding: 30px;
}
div.dialog_title{
  font-size: 28px;
  font-weight: 700;
}
div.dialog_text{
  padding: 20px 0;
  font-size: 15px;
}
div.right_dialog{
  background-color: #F24D2E;
  width: 49%;
  height: 200px;
  border-radius: 20px 20px 0 20px;
  padding: 30px;
}


/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){

  div.dialog_container{
    margin-top: 60px;
    width: 90%;

  }
  div.left_dialog, div.right_dialog{
    width: 100%;
    height: 180px;
    padding: 20px;
  }
  div.left_dialog{
    padding-top: 40px;
  }
  div.left_dialog_container, div.right_dialog_container{
    align-items: center;
  }
  div.right_dialog_container{
    top: 220px;
  }
  div.left_dialog_container::after{
    margin-bottom: -20px;
  }
  div.right_dialog_container::after{
    margin-bottom: -20px;
  }
  div.dialog_title{
    font-size: 20px;
  }
  div.dialog_text{
    font-size: 16px;
  } 
}

@media screen and (min-width: 468px) and (max-width: 767.98px){

  div.dialog_container{
    margin-top: 80px;
    width: 90%;

  }
  div.left_dialog, div.right_dialog{
    width: 80%;
    height: 200px;
    padding: 30px;
  }
   div.dialog_title{
    font-size: 24px;
  }
  div.dialog_text{
    font-size: 15px;
  }
    
}

/*====== 行動版 RWD | 768px ~ 960px ======*/
@media screen and (min-width: 768px) and (max-width: 959.98px){

  div.dialog_container{
    flex-direction: column;
    width: 90%;

  }
  div.right_dialog_container{
    top: 210px;
  }
  div.left_dialog, div.right_dialog{
    width: 450px;
  }
  div.dialog_title{
    font-size: 26px;
  }
}  

/*====== 行動版 RWD | 960px ~ 1200px ======*/
@media screen and (min-width: 960px) and (max-width: 1199.98px){

  div.dialog_container{
    width: 90%;

  }

}  





/*====== 會動的腳踏車 ======*/

div.bridge_banner{
  width: 1080px;
  margin: -60px auto 40px;
}
div.bridge_title{
  font-size: 28px;
  font-weight: 700;
}
div.bridge_text{
  padding: 16px 0;
}
div.bike_run{
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  position: relative;
}
img.bike{
  width: 150px;
}

/*=== bike run 動畫效果 ===*/
img.bike.-ani{
  animation-name: bike_run;
  animation-duration: 3s;
}

@keyframes bike_run {
  0%{
    margin-left: 0;
  }
  100%{
    margin-left: 100vw;
  }
}
div.line{
  border-bottom: 1px solid black;
  width: 100%;
}


/*====== 行動版 RWD | 320px ~ 414px ======*/
@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.bridge_banner{
    margin-top: 0;
    width: 90%;

  }
  div.bridge_title{
    font-size: 24px;
  }
  img.bike{
    width: 80px;
  }
}  


/*====== 行動版 RWD | 414px ~ 768px ======*/
@media screen and (min-width: 414px) and (max-width: 767.98px){

  div.bridge_banner{
    margin-top: 50px;
    width: 90%;

  }
  div.bridge_title{
    font-size: 24px;
  }
  img.bike{
    width: 120px;
  }
}  


/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
  div.bridge_banner{
    width: 90%;

  }
}


/*====== 社群介紹 intro ======*/

div.intro_banner{
  width: 90%;
  margin: 60px auto 120px;
}
div.intro_content{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.intro_title{
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0;
  margin-top: 40px;
}
div.intro_text{
  line-height: 200%;;
}
div.process_container{
  width: 90%;
  margin: 0 auto;
}
div.process_banner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}
div.banner_text{
  padding: 0 10px 10px;
  width: 50%;
}
div.process_title{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
div.process_text{
  line-height: 180%;
  margin-bottom: 16px;
}
div.banner_img{
  width: 48%;
}
embed.commu{
  width: 100%;
}


/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 413.98px){
  div.intro_banner{
    margin-bottom: 50px;
  }
  div.intro_title{
    font-size: 24px;
  }  
  div.intro_text{
    display: none;
  }
}

@media screen and (min-width: 414px) and (max-width: 767.98px){
  div.intro_banner{
    margin-bottom: 80px;
  }
  div.intro_title{
    font-size: 23px;
  }  
  div.intro_text{
    font-size: 16px;
    width: 90%;
  }
  br.-break{
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 767.98px){

  div.process_banner{
    flex-direction: column;
  }
  div.banner_text{
    width: 100%;
    text-align: center;
  }
  div.banner_img{
    width: 100%;
  }
  div.rwd_text{
    order: 1;
  }
  div.rwd_img{
    order: 2;
  }
  div.process_title{
    font-size: 20px;
    position: relative;
  }
  div.process_title::after{
    content: "";
    width: 100%;
    border-bottom: 1px solid black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }
  div.process_text{
    text-align: left;
  }
}


/*====== 夢想家聚落 ======*/


div.dreamers_block{
  width: 90%;
  margin: 100px auto 30px;
  text-align: center;
}
div.block_title{
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0; 
}

div.block_text{
  line-height: 200%;
}
div.dreamers_circle{
  width: 90%;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.circle_block{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a.commu_link{
  text-decoration: none;
  color: black;
}
div.title_wh{
  color: white;
  font-size: 18px;
  letter-spacing: 0.1em;
}
div.title_bl{
  color: black;
  font-size: 18px;
  letter-spacing: 0.1em;
}
div.hover_text{
  font-size: 14px;
  width: 85%;
  text-align: center;
  padding: 10px;
  line-height: 180%;
}
div.mtn{
  width: 180px;
  height: 180px;
  background-color: #2869D1;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
div.mtn_hover{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transform: translateY(-100%);
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.edu{
  width: 267px;
  height: 267px;
  background-color: #eeeeee;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.edu{
  margin-top: 40px;
}
div.edu_hover{
  position: absolute;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  transform: translateY(-100%);
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.code{
  width: 145px;
  height: 145px;
  background-color: #eeeeee;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.code{
  transform: translateX(80%);
}
div.code_hover{
  position: absolute;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  transform: translate(0, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.music{
  width: 160px;
  height: 160px;
  background-color: #F24D2E;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.music{
  margin-top: 40px;
}
div.music_hover{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transform: translateY(-100%);
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.lan{
  width: 267px;
  height: 267px;
  background-color: #2869D1;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.lan{
  margin-top: 80px;
  transform: translateX(10%);
}
div.lan_hover{
  position: absolute;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  transform: translateY(-100%);
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.shop{
  width: 267px;
  height: 267px;
  background-color: #2869D1;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.shop{
  margin-top: 80px;
  transform: translateX(20%);
}
div.shop_hover{
  position: absolute;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  transform: translateY(-100%);
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.build{
  width: 160px;
  height: 160px;
  background-color: #eeeeee;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.build{
  margin-top: 80px;
  transform: translateX(30%);
}
div.build_hover{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  transform: translate(0, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.soc{
  width: 160px;
  height: 160px;
  background-color: #eeeeee;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
} 
a.soc{
  margin-top: 40px;
  transform: translateX(30%);
}
div.soc_hover{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  transform: translate(0, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
div.travel{
  width: 160px;
  height: 160px;
  background-color: #F24D2E;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .3s;
}
a.travel{
  margin-top: 40px;
}
div.travel_hover{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transform: translateY(-100%);
  background: linear-gradient(180.1deg, rgba(167, 201, 255, 0.3) 0.09%, rgba(254, 166, 149, 0.3) 99.91%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}

div.front, div.back, a.commu_link{
  border-radius: 50%;
}


@media screen and (any-hover: hover){

  a.mtn:hover div.mtn_hover{
    opacity: 1;
  }
  a.mtn:hover div.mtn{
    opacity: 0;
  }
  a.edu:hover div.edu_hover{
    opacity: 1;
  }
  a.edu:hover div.edu{
    opacity: 0;
  }
  a.code:hover div.code_hover{
    opacity: 1;
  }
  a.code:hover div.code{
    opacity: 0;
  }
  a.music:hover div.music_hover{
    opacity: 1;
  }
  a.music:hover div.music{
    opacity: 0;
  }
  a.lan:hover div.lan_hover{
    opacity: 1;
  }
  a.lan:hover div.lan{
    opacity: 0;
  }
  a.shop:hover div.shop_hover{
    opacity: 1;
  }
  a.shop:hover div.shop{
    opacity: 0;
  }
  a.build:hover div.build_hover{
    opacity: 1;
  }
  a.build:hover div.build{
    opacity: 0;
  }
  a.soc:hover div.soc_hover{
    opacity: 1;
  }
  a.soc:hover div.soc{
    opacity: 0;
  }
  a.travel:hover div.travel_hover{
    opacity: 1;
  }
  a.travel:hover div.travel{
    opacity: 0;
  }
}


.-hide{
  opacity: 0 !important;
}

.-appear{
  opacity: 1 !important;
}


@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.dreamers_circle{
    flex-direction: column;
    width: 90%;
  }
  div.circle_block{
    width: 90%;
  }
  div.rwd1{
    order: 4;
  }
  div.rwd2{
    order: 1;
    align-items: center;
  }
  div.rwd3{
    order: 3;
  }
  div.rwd4{
    order: 2;
  }
  a.code{
    transform: translateX(50px);
  }
  a.music{
    transform: translateX(-20px);
  }
  a.lan{
    margin-top: 50px;
    transform: translateX(0);
  }
  a.shop{
    margin-top: 40px;
    transform: translateX(-10px);
  }
  a.build{
    margin-top: 40px;
  }
  a.mtn{
    margin-top: 40px;
    transform: translateX(-20px);
  }  

}

@media screen and (min-width: 414px) and (max-width: 599.98px){

  div.dreamers_circle{
    flex-direction: column;
    width: 90%;
  }
  div.circle_block{
    flex-direction: column;
    width: 90%;
  }
  div.rwd1{
    order: 4;
  }
  div.rwd2{
    order: 1;
  }
  div.rwd3{
    order: 3;
  }
  div.rwd4{
    order: 2;
  }
  a.code{
    transform: translateX(50%);
  }
  a.music{
    transform: translate(-40%, -50px);
  }
  a.lan{
    margin-top: -20px;
  }
  a.soc{
    transform: translateX(50px);
  }
  a.travel{
    transform: translateX(-30%);
    margin-top: 10px;
  }
  a.shop{
    transform: translateX(10px);
    margin-top: 20px;
  }
  a.build{
    margin-top: 40px;
  }
  a.mtn{
    margin-top: 30px;
    transform: translateX(-20%);
  }

}

@media screen and (min-width: 600px) and (max-width: 767.98px){

  div.dreamers_circle{
    flex-direction: column;
    width: 90%;
  }
  div.circle_block{
    flex-direction: row;
    width: 90%;
  }
  div.rwd1{
    order: 2;
    margin-top: 70px;
    justify-content: space-between;
  }
  div.rwd2{
    order: 1;
    margin-top: 20px;
  }
  div.rwd3{
    order: 4;
    align-items: flex-end;
    justify-content: space-between;
  }
  div.rwd4{
    order: 3;
    margin-top: 0px;
    justify-content: space-around;
  }
  a.shop{
    margin-top: 40px;
    transform: translateX(-10%);
  }
  a.build{
    margin-top: 0px;
    transform: translateY(-20%);
  }
  a.soc{
    transform: translate(0, -20%);
  }
  a.travel{
    transform: translateY(20%);
  }
  a.code{
    transform: translate(0, -20%);
    order: 2;
  }
  a.music{
    transform: translate(0%, 100%);
    order: 1;
  }
  a.lan{
    transform: translate(0, -20%);
  }
  a.mtn{
    transform: translate(0, -30%);
  }
  a.edu{
    transform: translate(10%, 10%);
  }

}


@media screen and (min-width: 768px) and (max-width: 1099.98px){

  div.dreamers_circle{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.circle_block{
    width: 100%;
  }
  div.rwd1, div.rwd2, div.rwd3, div.rwd4{
    flex-direction: row;
    justify-content: space-between;
  }
  div.rwd1{
    order: 1;
    justify-content: center;
  } 
  div.rwd3{
    justify-content: space-around;
  } 
   a.code{
    transform: translate(20%, -50%);
  }
  a.music{
    transform: translate(-20%, 50%);
  }
  a.lan{
    transform: translate(0, -10%);
  }
  a.shop{
    transform: translate(-15%, -10%);
  }
  a.build{
    transform: translate(0, -50%);
  }
  a.soc{
    transform: translate(80%, 0%);
  }
  a.travel{
    transform: translate(-80%, -70%);
  }
  a.mtn{
    transform: translate(-40%, 0);
  }
  a.edu{
    transform: translate(30%, -30%);
  }

  


}


/*====== 探索更多 ======*/

div.more_info_block{
  margin: 0 auto 60px;
  width: 1080px;
  display: flex;
  justify-content: center;
}

a.more_info{
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 5px 6px;
}

div.last_banner{
  width: 1080px;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.last_slogan{
  margin-bottom: 20px;
}

button.join{
  width: 120px;
}

@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.more_info_block{
    width: 90%;
    margin-bottom: 0px;
  }

  div.last_banner{
    width: 90%;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
  }

}  

@media screen and (min-width: 414px) and (max-width: 767.98px){

  div.more_info_block, div.last_banner{
    width: 90%;
    align-items: center;

  }


}  

@media screen and (min-width: 768px) and (max-width: 1199.98px){

  div.more_info_block, div.last_banner{
    width: 90%;
  }


}  







