@import "./header.css";
@import "./footer.css";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}



div.comment_banner{
  min-width: 1200px;
  height: 570px;
  margin: 0 auto;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #F7CCC5 100%);
  background-repeat: no-repeat;
  text-align: center;
  letter-spacing: 0.04em;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.intro_block{
  width: 1080px;
  margin-bottom: 20px;
}

div.comment_banner_title{
  font-size: 28px;
  font-weight: 700;
  padding: 10px;
  margin-top: 20px;
  letter-spacing: 0.04em;
}

div.comment_banner_subtitle{
  padding: 10px 0 20px;
  letter-spacing: 0.04em;
}

img.bird_stand{
  width: 80px;
  position: absolute;
  transform: translate(330%, -90%);
}


div.comment_container{
  width: 1080px;
}

div.comments_container_top, div.comments_container_middle, div.comments_container_bottom{
  padding: 25px 0;
  width: 100%;
}

a.comment_link{
  padding: 10px 25px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 5px;
  letter-spacing: 0.04em;
}

a.comment_link:hover{
  color: white;
  background-color: #2869D1;
}


div.cards_banner{
  margin-bottom: 60px;
}

div.intro_block2{
    /* border: 1px solid black; */
    margin: 0 auto 20px;
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.grid-container {
  width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;

  /* border: 1px solid black; */
  gap: 15px;
}

a.grid_link{
  color: black;
  text-decoration: none;
}

div.grid-item{
  /* border: 1px solid red; */
  letter-spacing: 0.04em;
  text-align: center;
  width: 350px;
  height: 350px;
  cursor: pointer;
}

div.grid-item:hover div.grid_frame{
  box-shadow: 1px 1px 5px 0px #00000040;
}

div.grid-item:hover div.grid_top{
  color: white;
  background-image: linear-gradient(180deg, rgba(40, 105, 209, 0.5) 0%, rgba(40, 105, 209, 0.15) 100%);
}

div.grid-item:hover div.grid_bottom{
  background-color: #ffffff;
}

div.grid-item:hover div.author{
  color: black;
}

div.grid-item:hover span.number{
  color: black;
}

div.grid_frame{
  width: 350px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
}

div.grid_top{
  height: 55%;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.45);
}

div.grid_title{
  width: 70%;
  height: 100%;
  text-align: left;
  padding: 40px 15px;
  font-weight: 700;
}

div.grid_bottom{
  height: 45%;
  background-color: rgba(255, 255, 255, 0.8);
}

div.author{
  font-size: 16px;
  text-align: left;
  padding: 25px 15px;
  color: #94999F;
}

div.function_banner{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

img.heart, img.bookmark{
  height: 20px;
}

span.number{
  height: 25px;
  margin-right: 16px;
  color: #94999F;
  font-size: 14px;
  padding-left: 4px;
}

button.btn_dream_story{
  border: none;
  cursor: pointer;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 15px;
  letter-spacing: 0.04em;
  background: none;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

button.btn_dream_story:hover{
  color: #2869D1;
  border-bottom: 1px solid #2869D1;
}

button.btn_dream_story:focus{
  outline: none;
}


div.cards_banner{
  background-image: linear-gradient(180deg, #F7CCC5 0%, rgba(60, 100, 177, 0.4) 100%);
  min-width: 1200px;
  /* height: 1600px; */
}

div.explore_link{
  width: 1080px;
  text-align: center;
  padding: 75px 0 90px;
  margin: 0 auto;
}
a.btn_action{
  background-color: #2869D1;
  padding: 6px 25px 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align:center;
  letter-spacing: 0.1em;
  font-size: 15px;
}

a.btn_action:hover{
  box-shadow: 1px 2px 2px 0px #00000040;
}

div.dream_story_block{
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  width: 1080px;
}

div.story_block_intro{
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 1080px;
  margin: 40px auto;
  height: 80px;
}

img.bird_flying, div.intro_text{
  display: inline-block;
  vertical-align: middle;
}

img.bird_flying{
  height: 80px;
  z-index: 5;
  position: relative;
}

div.intro_text{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.365em;
  width: 360px;
  height: 60px;
  line-height: 60px;
  border-radius: 25px 0;
  background-color: #eeeeee;
  transform: translateX(-10%);
  z-index: 1;
}

div.article_container{
  width: 1080px;
  margin: 0 auto;
}

div.article_block{
  display: inline-flex;
  margin-bottom: 50px;
}

img.article_img{
  width: 360px;
  height: 306px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 0px #00000040;
}

a.act:hover div.hover_block{
  opacity: 1;
} 

div.hover_block{
  width: 360px;
  height: 308px;
  position: absolute;
  transform: translateY(-100%);
  border-radius: 20px;
  /* border: 1px solid red; */
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Lato', sans-serif;
  color: #363B3F;
  font-size: 24px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .3s;
}

span.inner_text{
  border-bottom: 1px solid #363B3F;
}

div.article_rightside{
  text-align: left;
  padding-left: 20px;
}

div.article_title{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.04em;line-height: 150%;
}

a.title{
  text-decoration: none;
  color: black;
}

a.title:hover{
  text-decoration: underline;
}

div.article_intro{
  letter-spacing: 0.04em;
  line-height: 150%;
  padding: 16px 0 28px;
  font-size: 15px;
}

div.article_bottom{
  display: inline-flex;
}

div.read_time{
  border: 1px solid rgba(101, 108, 116, 1);
  padding: 6px 15px 8px;
  margin-left: 18px;
  border-radius: 8px;
  text-align:center;
  letter-spacing: 0.04em;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

div.bottom_link{
  width: 1080px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

a.more_story{
  text-decoration: none;
  color: black;
  padding: 0 5px 4px;
  border-bottom: 1px solid black;
  letter-spacing: 0.04em;
}

a.more_story:hover{
  color: #2869D1;
  border-bottom: 1px solid #2869D1;
}
