@import "./modal2.css";

footer.footer{
  border-top: 1px solid black;
  margin: 0 auto;
  width: 1080px;
}
 
div.footer_container{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

img.logo_footer{
  width: 80px; 
}

div.footer_leftside{
  padding-left: 12px;
}

div.footer_leftside > div.copyrights{
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
}

div.social_media_block{
  padding: 20px 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a.social_media_link{
  width: 25px;
  height: 22px;
  margin-right: 10px;
}

a.social_media_link:hover{
  border-bottom: 1px solid black;
}

embed.social_media_logo{
  height: 22px;
  padding: 3px;
}

div.copyrights_statement{
  font-size: 12px;
  padding: 20px 0;
  line-height: 150%;
  line-height: 150%;
  letter-spacing: 0.04em;
}

a.tibame_link{
  color: #2869D1;
  font-weight: 700;
  text-decoration: none;
}

a.tibame_link:hover{
  text-decoration: underline;
}

a.reference{
  color: #2869D1;
  text-decoration: none;
}

a.reference:hover{
  text-decoration: underline;
}

div.footer_rightside{
  width: 90%;
}

div.sitemap{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

div.sitemap_parent{
  font-weight: 700;
  text-align: center;
  width: 18%;
}

div.sitemap_child{
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
}



div.footer_solutions_list{
  list-style: none;
}

a.footer_page_link, a.footer_page_link_child{
  color: black;
  text-decoration: none;
  text-align: left;
}

a.footer_page_link{
  padding: 0 4px 3px 4px;
  font-weight: 700;
}

a.footer_page_link_child{
  padding-bottom: 3px;
  /* border: 1px solid red; */
  margin-bottom: 3px;
  margin-left: 6px;
}

a.footer_page_link:hover, a.footer_page_link_child:hover{
  border-bottom: 1px solid black;
}

div.footer_login_signup_block{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-top: -6.28px;
}


button.btn_footer{
  font-size: 16px;
  border: none;
  background: none;
  color: black;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  margin-bottom: 18px;
  padding: 0 3px;
  width: 46px;
  height: 35px;
}

button.btn_footer:hover{
  background: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid black;

}


 



/*====== 行動版 RWD | 320px ~ 768px ======*/

@media screen and (min-width: 320px) and (max-width: 767.98px){
  footer.footer{
    width: 90%;
  }
  div.footer_container{
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
  }

  div.footer_leftside{
    width: 95%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }

  img.logo_footer{
    transform: translateX(-12px);
  }

  div.social_media_block{
    padding: 0;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
  }

  div.copyrights{
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
  }

  div.copyrights_statement{
    position: absolute;
    bottom: -210px;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid black;
    font-size: 11px;
  }
 
  div.footer_rightside{
    width: 100%;
    margin: 40px auto 60px;
    height: auto;
  }
  div.sitemap{
    justify-content: space-between;
    width: 100%;
  }
  div.sitemap_parent{
    padding: 0;
    text-align: center;
    font-size: 12px;

  }

  div.sitemap_child{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    font-size: 12px;

  }

  div.footer_solution_list{
    width: 80px;
  }
 
  div.sitemap_child a.footer_page_link_child{
    margin-left: 0;
  }

  div.footer_login_signup_block{
    width: 20%;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: -7.8px;
  }

 
  button.btn_footer{
    font-size: 12px;
    border: none;
    background: none;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    width: 40px;
  }

  button.btn_footer:hover{
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid black;

  }
} 


/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
  footer.footer, div.footer_container{
    width: 100%;
  }

  footer.footer{
    padding: 0 20px;
  }
  

  div.footer_login_signup_block{
    width: 20%;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: -5.3px;
  }

 
  button.btn_footer{
    border: none;
    background: none;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    width: 40px;
  }

  button.btn_footer:hover{
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid black;

  }


}