@import "./modal2.css";

footer.footer{
  border-top: 1px solid black;
  margin: 0 auto;
  width: 1080px;
}
 
div.footer_container{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

img.logo_footer{
  width: 80px; 
}

div.footer_leftside > div.copyrights{
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
}

div.social_media_block{
  padding: 20px 0 5px;
  display: flex;
  justify-content: flex-start;
}

a.social_media_link{
  width: 25px;
  height: 22px;
  margin-right: 10px;
}

a.social_media_link:hover{
  border-bottom: 1px solid black;
}

embed.social_media_logo{
  height: 22px;
  padding: 3px;
}

div.copyrights_statement{
  font-size: 12px;
  padding: 20px 0;
  line-height: 150%;
  line-height: 150%;
  letter-spacing: 0.04em;
}

a.tibame_link{
  color: #2869D1;
  font-weight: 700;
  text-decoration: none;
}

a.tibame_link:hover{
  text-decoration: underline;
}

a.reference{
  color: #2869D1;
  text-decoration: none;
}

a.reference:hover{
  text-decoration: underline;
}

div.footer_rightside{
  width: 72%;
}

div.sitemap{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

div.sitemap_parent{
  font-weight: 700;
  text-align: center;
  width: 140px;
  padding-left: 30px;
}

div.sitemap_child{
  font-weight: 400;
  display: flex;
  margin: 20px 0 0 34px;
  font-size: 15px;
}

div.footer_solutions_list{
  list-style: none;
}

a.footer_page_link, a.footer_page_link_child{
  color: black;
  text-decoration: none;
  text-align: left;
}

a.footer_page_link{
  padding: 0 4px 3px 4px;
  font-weight: 700;
}

a.footer_page_link_child{
  padding-bottom: 3px;
  /* border: 1px solid red; */
  margin-bottom: 3px;
  margin-left: 6px;
}

a.footer_page_link:hover, a.footer_page_link_child:hover{
  border-bottom: 1px solid black;
}

div.footer_login_signup_block{
  width: 200px;
  height: 60px;
  /* margin-right: 40px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin-left: 10px;
}
 
div.container{
  margin-top: -16px;
  height: 100%;
}

div.footer-modal{
  /* border: 1px solid red; */
  width: 70px;
  padding: 0;
  margin: 0 16px 0 0;
  text-align: right;
}


button.btn-footer-modal{
  margin-top: -22px;
  padding: 0 4px 2px;
  border-radius: 0;
  font-weight: 700;
}

button.btn-footer-modal:hover{
  border-bottom: 1px solid black;
}