@import "./modal2.css";

footer.footer{
  border-top: 1px solid black;
  margin: 0 auto;
  width: 1080px;
}
div.footer_container{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 25px 0 10px;
}
img.logo_footer{
  width: 80px; 
}
div.footer_leftside{
  padding-left: 12px;
  width: 30%;
}
div.footer_leftside > div.copyrights{
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
}
div.social_media_block{
  padding: 20px 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a.social_media_link{
  width: 25px;
  height: 22px;
  margin-right: 10px;
  border-bottom: 1px solid transparent;
}
a.social_media_link:hover{
  border-bottom: 1px solid black;
}
embed.social_media_logo{
  height: 22px;
  padding: 3px;
}


div.footer_rightside{
  width: 70%;
  display: flex;
  justify-content: space-around;
}
div.sitemap{
  width: 60%;
}
div.footer_login_signup_block{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.footer_page_link{
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  font-weight: 700;

}
a.footer_page_link:hover{
  border-bottom: 1px solid black;
}
div.sitemap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
div.sitemap_parent{
  position: relative;
  margin-bottom: 16px;
  height: auto;
  font-weight: 700;
}

div.footer_solutions_list{
  display: flex;
  position: absolute;
  top: 0;
  right: 30px;
  width: 80%;
  justify-content: flex-start;
  margin-top: 2px;
}
a.footer_page_link_child{
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin-right: 20px;
  padding: 0 5px 3px;
  display: block;
}
a.footer_page_link_child:hover{
  border-bottom: 1px solid black;
}

button.btn_footer{
  color: black;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;

  padding: 0 0 3px;
  height: auto;
  width: auto;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 0;
}
button.btn_footer:hover{
  box-shadow: none;
  border-bottom: 1px solid black;
}


div.copyrights_statement{
  /* border-top: 1px solid black; */
  width: 100%;
  font-size: 12px;
  padding: 10px 0 30px;
  line-height: 150%;
  line-height: 150%;
  letter-spacing: 0.04em;
}
a.tibame_link{
  color: #2869D1;
  font-weight: 700;
  text-decoration: none;
}
a.tibame_link:hover{
  text-decoration: underline;
}
a.reference{
  color: #2869D1;
  text-decoration: none;
}
a.reference:hover{
  text-decoration: underline;
}

/*====== 行動版 RWD | 320px ~ 600px ======*/
@media screen and (min-width: 320px) and (max-width: 599.98px){
  footer.footer{
    width: 90%;
  }
  a.social_media_link{
    flex-shrink: 0;
  }
  div.footer_container{
    flex-direction: column;
  }
  div.footer_leftside, div.footer_rightside, div.sitemap{
    width: 100%;
  }
  div.footer_leftside{
    padding: 0;
    margin-bottom: 20px;
  }
  div.footer_solutions_list{
    left: 50px;
    
  }
  a.footer_page_link_child{
    margin-right: 10px;
  }

  div.footer_login_signup_block{
    display: none;
  }
  
  a.footer_page_link, div.sitemap, button.btn_footer{
    font-size: 15px;
  }
  
}


/*====== 行動版 RWD | 600px ~ 768px ======*/
@media screen and (min-width: 600px) and (max-width: 767.98px){

  footer.footer{
    width: 90%;
  }
  div.footer_leftside{
    min-width: 175px;
  }
  div.sitemap{
    width: 75%;
  }
  div.footer_login_signup_block{
    display: none;
  }
  a.footer_page_link, div.sitemap, button.btn_footer{
    font-size: 15px;
  }
  div.footer_solutions_list{
    right: 0;
    width: 90%;
    justify-content: center;
  }
  a.footer_page_link_child{
    margin-right: 10px;
  }
  
  
}  

/*====== 行動版 RWD | 768px ~ 960px ======*/
@media screen and (min-width: 768px) and (max-width: 959.98px){

  footer.footer{
    width: 90%;
  }
  div.sitemap{
    width: 80%;
  }
  div.footer_login_signup_block{
    width: 20%;
  }
  a.footer_page_link, div.sitemap, button.btn_footer{
    font-size: 15px;
  }
  
}  



/*====== 行動版 RWD | 960px ~ 1200px ======*/
@media screen and (min-width: 960px) and (max-width: 1199.98px){

  footer.footer{
    width: 90%;
  }
 
  
  }  
  
