@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

  *{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.04em;
    font-weight: 400;
  }

  button{
    cursor: pointer;
  }
  button.close:active{
    border: none;
  }
  
  /*====== 登入介面彈窗 ======*/
  /*暗掉滿版背景*/
  div.login_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .7);
    display: none;
    z-index: 100;
    margin: 0 auto;
  }

  /*顯示區塊*/
  div.modal-article{
    background-color: white;
    width: 60%;
    height: 90vh;
    /* min-height: 500px; */
    max-width: 900px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 999 !important;    
  }

  /*=== 內容部分 ===*/
  div.modal-header, div.modal-body, div.modal-footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  /*上層 header*/
  div.modal-header{
    padding-top: 36px;
    height: 120px;
    
  }

  img.logo_modal{
    width: 150px;
    max-height: 90%;
  }

  h4.modal-title{
    font-size: 18px;
  }

  button.btn_modal_login_close, .close{
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
    background: none;
    font-size: 28px;
  }

  /*中層 body*/
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60% !important;
  }
  
  input.modal_email, input.password{
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
    border: 1px solid gray;
    height: 30px;
    margin-top: 10px;
  }
  input.password{
    margin-bottom: 16px;
  }
  
  input.modal_email:focus, input.password:focus{
    outline: none;
    border: 2px solid #2869D1;
  }

  button.btn_signup{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2869D1;
    color: white;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
  }

  button.btn_signup:hover{
    box-shadow: 1px 2px 2px 0px #00000040;
  }

  div.other_login{
    height: 180px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.or{
    font-size: 14px;
    color: gray;
    letter-spacing: 0.04em;
    /* border: 1px solid blue; */
    padding-top: 10px;
    text-align: center;
  }

  button.btn_other{
    outline: none;
    border: none;
    margin: 5px 0;
    width: 100%;
    border-radius: 10px;
    padding: 5px 0 5px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  button.btn_other:hover{
    background-color: #F7CCC5;
  }

  a.other_link{
    color: black;
    font-size: 14px;
    text-decoration: none;
  }
  
  img.other_logo{
    width: 15px;
    position: absolute;
    left: 3%;
  }

  /*底層 footer*/
  div.modal-footer{
    border-top: 1px solid gray;
    font-size: 14px;
    margin-top: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-direction: row;
    align-items: center;
  }

  a.login_help{
    color: #2869D1;
  }

  button.btn_open_signup, .inter_modal{
    outline: none;
    border: none;
    background: none;
    color: #2869D1;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    margin-left: 1%;
  }



  /*====== 註冊介面彈窗 ======*/
  /*暗掉滿版背景*/
  div.signup_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .7);
    display: none;
    z-index: 100;
  }

  /*顯示區塊*/
  div.modal-article{
    background-color: white;
    width: 90%;
    height: 90vh;
    min-height: 500px;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

  }

  /*內容部分*/
  div.modal-header, div.modal-body, div.modal-footer{
    width: 100%;
  }

  div.private_policies{
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: gray;
    padding: 12px 0;
    padding-left: 10px;
  }





  /*====== RWD 行動版 ======*/
  @media screen and (min-width: 320px) and (max-width: 768px){
    form, div.other_login{
      width: 80% !important;
    }
    div.modal-article{
      z-index: 999 !important;
    }
  }