@import "./header.css";
@import "./footer.css";

*{
  box-sizing: border-box;
}
 
body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

img, embed{
  max-width: 100%;
}

/*====== 方案展示 banner ======*/

div.personal_intro_block{
  width: 100%;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 0.05em;
}

div.personal_intro_eng{
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

span.underlined{
  border-bottom: .5px solid black;
}

div.personal_intro_zh{
  font-size: 28px;
  font-weight: 700;
}

div.personal_intro_slogan{
  padding: 30px 0;
}

div.personal_interface_block{
  /* border: 1px solid black; */
  margin: 20px auto;
  width: 1080px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.shift_btn{
  /* border: 1px solid black; */
  text-align: left;
  width: 70%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: flex-start;
  z-index: 0;
  position: relative;
}

button.btn1, button.btn2, button.btn3{
  padding: 10px 20px 20px;
  background-color: #EEEEEE;
  color: black;
  border-radius: 20px 20px 0px 0px;
  font-size: 15px;
  position: relative;
  transform: translateY(12px);
  transition: transform .5s;
  border: none;
  font-weight: 700;
  letter-spacing: 0.17em;
  cursor: pointer;
}


button.btn1:hover, button.btn2:hover, button.btn3:hover{
  background-color: #2869D1;
  color: white;
}

button.btn1:focus, button.btn2:focus, button.btn3:focus{
  border: none;
  outline: none;
}

button.btn1:active, button.btn2:active, button.btn3:active{
  border: none;
  outline: none;
}

button.btn1.-on, button.btn2.-on, button.btn3.-on{
  transform: translateY(0px);
  background-color: #2869D1;
  color: white;
  border: none;
  outline: none;
}

div.personal_slides_container{
  z-index: 1;
  position: relative;
}

div.content1, div.content2, div.content3{
  position: absolute;
  top: 0;
  /* left: 80px; */
  opacity: 0;
  z-index: -4;
  transition: opacity .5s;
}

div.content1.-on, div.content2.-on, div.content3.-on{
  position: static;
  opacity: 1;
  z-index: -3;
}

embed.personal_slide{
  width: 90%;
  max-width: 920px;
}


/*====== 行動版 RWD | 320px ~ 414px ======*/
@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.personal_intro_block{
    margin-top: 60px;
  }

  div.personal_intro_eng, div.personal_intro_zh{
    font-size: 22px;
  }

  div.personal_intro_slogan{
    font-size: 14px;
  }

  div.personal_interface_block{
    width: 100%;
  }

  div.shift_btn{
    width: 80%;
  }

  button.btn1, button.btn2, button.btn3{
    font-size: 10px;
    padding: 10px 10px 20px;
  }

  embed.personal_slide{
    width: 90%;
  }

}



/*====== 行動版 RWD | 414px ~ 768px ======*/
@media screen and (min-width: 414px) and (max-width: 767.98px){

  div.personal_intro_eng, div.personal_intro_zh{
    font-size: 24px;
  }

  div.personal_interface_block{
    width: 100%;
  }

  div.shift_btn{
    width: 80%;
  }

  button.btn1, button.btn2, button.btn3{
    font-size: 14px;
    /* width: 28%; */
  }

  embed.personal_slide{
    width: 90%;
  }

}



/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
  
  div.personal_interface_block{
    width: 100%;
  }

  div.shift_btn{
    width: 80%;
    max-width: 996px;
    position: relative;
    transform: translateX(40px);
  }

}



/*====== 特點介紹 banner ======*/

div.personal_feature_block{
  margin: 0 auto 100px;
  /* border: 1px solid red; */
  width: 1080px;
}

div.personal_feature_slogan{
  width: 400px;
  margin: 60px auto;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0 40px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

div.feature_container{
  display: flex;
  width: 1080px;
  text-align: center;
  justify-content: space-between;
}



div.feature_title, div.feature_subtitle, div.feature_content{
  /* border: 1px solid blue; */
  letter-spacing: 0.04em;
  position: relative;
  transform: translateY(-20px);
}

div.feature_title{
  font-size: 24px;
  font-weight: 700;
  position: relative;
  transform: translateY(8px);
}

div.feature_subtitle{
  font-size: 18px;
  font-weight: 700;
}

div.feature_content{
  line-height: 180%;
  padding: 20px 0 20px;
}

img.feature_img{
  width: 320px;
}

button.feature_btn1, button.feature_btn2, button.feature_btn3{
  background-color: #2869D1;
  padding: 6px 18px 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align:center;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-family: 'Noto Sans TC', sans-serif;
  border: none;
  cursor: pointer;
  width: 110px;
  height: 45px;
}

button.feature_btn1:hover, button.feature_btn2:hover, button.feature_btn3:hover{
  box-shadow: 1px 2px 2px 0px #00000040;
}

button.feature_btn1:focus, button.feature_btn2:focus, button.feature_btn3:focus{
  outline: none;
}



/*====== 行動版 RWD | 320px ~ 414px ======*/
@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.personal_feature_block{
    margin: 0 auto 20px;
    width: 100%;
  }

  div.personal_feature_slogan{
    width: 80%;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }

  div.feature_container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  div.feature_leftside, div.feature_center, div.feature_rightside{
    margin-bottom: 60px;
  }

  div.feature_title{
    font-size: 20px;
  }

  img.feature_img{
    width: 200px;
    height: 200px;
  }

  div.feature_content{
    font-size: 14px;
    padding-bottom: 0;
  }

}


/*====== 行動版 RWD | 414px ~ 660px ======*/
@media screen and (min-width: 414px) and (max-width: 659.98px){

  div.personal_feature_block{
    margin: 0 auto 0px;
    width: 100%;
  }

  div.personal_feature_slogan{
    width: 80%;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }

  div.feature_container{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  div.feature_leftside, div.feature_center, div.feature_rightside{
    margin-bottom: 80px;
    width: 100%;
  }

  div.feature_title{
    font-size: 28px;
  }

  img.feature_img{
    width: 200px;
    height: 200px;
  }

  div.feature_content{
    font-size: 15px;
    padding-bottom: 0;
  }

}


/*====== 行動版 RWD | 660px ~ 890px ======*/
@media screen and (min-width: 660px) and (max-width: 889.98px){
  br.-break{
    display: none;
  }

  div.personal_feature_block{
    margin: 0 auto 60px;
    width: 100%;
  }

  div.personal_feature_slogan{
    width: 100%;
  }

  div.feature_container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  div.feature_leftside, div.feature_center, div.feature_rightside{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
  }

  div.feature_align1{
    width: 50%;
    display: flex;
    align-items: center;
  }

  div.feature_align2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
    text-align: left;
  }

  div.feature_title{
    transform: translateY(0);
    order: 2;
    font-size: 22px;
    width: 80%;
    min-width: 150px;
    text-align: left;
  }

  div.feature_subtitle{
    width: 100%;
  }

  div.feature_content{
    padding: 0;
    transform: translateY(0);
    width: 70%;
    font-size: 14px;
  }

  div.feature_highlight{
    font-size: 14px;
  }

  img.feature_img{
    min-width: 180px;
    order: 1;
  }

  button.feature_btn1, button.feature_btn2, button.feature_btn3{
    margin-top: 30px;
  }

}


/*====== 行動版 RWD | 890px ~ 1080px ======*/
@media screen and (min-width: 890px) and (max-width: 1079.98px){
  
  div.personal_feature_block{
    margin: 0 auto 60px;
    width: 100%;
  }

  div.personal_feature_slogan{
    width: 100%;
  }

  div.feature_container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  div.feature_leftside, div.feature_center, div.feature_rightside{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
  }

  div.feature_align1{
    width: 50%;
    display: flex;
    align-items: center;
  }

  div.feature_align2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
    text-align: left;
  }

  div.feature_title{
    transform: translateY(0);
    order: 2;
    font-size: 24px;
    width: 80%;
    min-width: 150px;
    text-align: left;
  }

  div.feature_subtitle{
    width: 100%;
    font-size: 20px;
  }

  div.feature_content{
    padding: 0;
    transform: translateY(0);
    width: 70%;
    font-size: 15px;
  }

  div.feature_highlight{
    font-size: 15px;
  }

  img.feature_img{
    min-width: 180px;
    order: 1;
  }

  button.feature_btn1, button.feature_btn2, button.feature_btn3{
    margin-top: 30px;
  }

}



/*====== 行動版 RWD | 1080px ~ 1200px ======*/
@media screen and (min-width: 1080px) and (max-width: 1199.98px){

  div.personal_feature_block{
    margin: 0 auto 100px;
    width: 100%;
  }

  div.personal_feature_slogan{
    width: 100%;
  }

  div.feature_container{
    width: 100%;
  }
}


/*====== 單項特點介紹 banner ======*/

div.feature_banner_container{
  margin: 0px auto;
  text-align: center;
}

div.feature_banner{
  width: 1080px;
  margin: 0 auto 60px;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 50px;
  /* border: 1px solid red; */
}

div.feature_text{
  text-align: left;
  letter-spacing: 0.04em;
  padding: 16px 10px 0;
  width: 50%;
}

div.feature_highlight_title{
  font-size: 24px;
  font-weight: 700;
  padding: 10px 10px 20px;
}

div.feature_highlight{
  padding: 10px;
  line-height: 150%;
}

div.feature_highlight2{
  padding: 10px;
  line-height: 150%;
  opacity: 0;
  transition: opacity .5s;
}

div.feature_highlight2.-on{
  opacity: 1;
}

embed.personal_feature{
  width: 700px;
}

div.layer_container{
  position: relative;
}

div.layer1, div.layer2{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -2;
  transition: opacity .5s;
}

div.layer1.-on, div.layer2.-on{
  position: static;
  opacity: 1;
  z-index: 0;
} 

button.btn_left, button.btn_right{
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  border: none;
  margin: 5px;
  background-color: #94999F;
  opacity: 0.7;
  transition: opacity .5s;
  box-shadow: 1px 2px 2px 0px #00000040;
}

button.btn_left:active, button.btn_right:active{
  outline: none;
}

button.btn_left.-on, button.btn_right.-on{
  background-color: #363B3F;
  opacity: 1;
  outline: none;
}


/*====== 行動版 RWD | 320px ~ 414px ======*/
@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.feature_banner{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 30px;
  }

  div.feature_text{
    width: 90%;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
  }

  


  div.feature_img{
    width: 90%;
  }

  div.feature_highlight_title{
    text-align: center;
    font-size: 18px;
  }

  div.feature_highlight{
    font-size: 14px;
  }

  div.feature_highlight2{
    font-size: 14px;
    opacity: 0;
    position: absolute;
    opacity: 0;
    transition: opacity .5s, position .5s;
  }

  div.feature_highlight2.-on{
    opacity: 1;
    position: relative;
  }

  

  #feature_banner2 div.feature_img{
    order: 2;
  }

  #feature_banner2 div.feature_text{
    order: 1;
  }


}


/*====== 行動版 RWD | 414px ~ 768px ======*/
@media screen and (min-width: 414px) and (max-width: 767.98px){

  div.feature_banner{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 30px;
  }

  div.feature_text{
    width: 90%;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
  }

  div.feature_title{
    font-size: 22px;
  }

  div.feature_img{
    width: 90%;
  }

  div.feature_highlight_title{
    text-align: center;
    font-size: 22px;
  }

  div.feature_highlight{
    font-size: 14px;
  }

  div.feature_highlight2{
    font-size: 14px;
    opacity: 0;
    position: absolute;
    opacity: 0;
    transition: opacity .5s, position .5s;
  }

  div.feature_highlight2.-on{
    opacity: 1;
    position: relative;
  }

  

  #feature_banner2 div.feature_img{
    order: 2;
  }

  #feature_banner2 div.feature_text{
    order: 1;
  }


}  




/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){

  div.feature_banner{
    width: 100%;
  }

  div.feature_text{
    width: 66%;
  }

}


/*====== 展開計畫 ======*/

div.bottom_banner{
  width: 1080px;
  margin: 80px auto 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

div.bottom_banner_container{
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
  position: relative;
}

div.left_container{
  position: absolute;
  width: 30%;
  height: 50%;
  left: 0;
  top: 50px;
}

div.middle_container{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.bottom_title{
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0 10px;
  width: 400px;
}

div.bottom_content{
  font-size: 16px;
  padding: 20px 0;
}

img.bird_flying{
  width: 120px;
  position: absolute;
  transform: translate(0%, -50px);
}

img.line{
  width:100%;
  position: absolute;
  transform: translate(-100%, 0px);
}

div.getready{
  width: 100%;
  margin: 10px auto 40px;
}

button.ready{
  background-color: #2869D1;
  padding: 6px 18px 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align:center;
  letter-spacing: 0.1em;
  font-size: 15px;
  width: 115px;
} 

button.ready:hover{
  box-shadow: 1px 2px 2px 0px #00000040;
}


/*====== 行動版 RWD | 320px ~ 414px ======*/
@media screen and (min-width: 320px) and (max-width: 413.98px){

  div.bottom_banner{
    width: 100%;
    margin-top: 30px;
  }

  img.bird_flying, img.line{
    display: none;
  }

  div.bottom_title{
    border-bottom: 1px solid black;
    width: 90%;
    font-size: 20px;
  }

  div.bottom_content{
    font-size: 14px;
  }

}  


/*====== 行動版 RWD | 414px ~ 768px ======*/
@media screen and (min-width: 414px) and (max-width: 767.98px){

  div.bottom_banner{
    width: 100%;
  }

  img.bird_flying, img.line{
    display: none;
  }
  
  div.bottom_title{
    border-bottom: 1px solid black;
    font-size: 24px;
  }
  

}  



/*====== 行動版 RWD | 768px ~ 1080px ======*/
@media screen and (min-width: 768px) and (max-width: 1079.98px){

  div.bottom_banner{
    width: 100%;
  }
  
  img.bird_flying, img.line{
    display: none;
  }

  div.bottom_title{
    border-bottom: 1px solid black;
  }

  

}


/*====== 行動版 RWD | 1080px ~ 1200px ======*/
@media screen and (min-width: 1080px) and (max-width: 1199.98px){

  div.bottom_banner{
    width: 100%;
  }

  
  

}  
